Array value from the model: {{model.firstObject}}
<br >
<br >
<button {{action 'submit' 'somedata'}}>Test actions going to the Route</button>
{{#link-to 'users.signup'}}Transition To Another Route{{/link-to}}
